{% extends "partials/_template.twig" %}

{% block title %}Dan Bruce{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>
            Dan Bruce
            <small>Full Stack Web Application Developer</small>
        </h1>
    </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-8 col-xs-offset-2">
            <img src="images/headshot.jpg" class="img-circle headshot" alt="Daniel Bruce Headshot">
        </div>
        <div class="col-md-6 col-md-offset-2 col-sm-5 col-sm-offset-1 col-xs-12">
            <h1>
                Technical Lead at
                <a href="http://fitchek.com" target="_blank">Fitchek</a>
            </h1>
            <p class="lead">
                At Fitchek, I build our next-generation platform for connecting
                fitness trainers and studios with their clients.
                <a href="work.html">Read more</a>.
            </p>
        </div>
    </div>
{% endblock %}
