{% set emailAddress = 'dbruce1126@gmail.com' %}
{% set phoneNumber = "6132557042" %}
{% set formattedPhoneNumber = "613-255-7042" %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "partials/_head.twig" %}
    </head>
    <body>
        {% include "partials/_navigation.twig" %}
        <main class="container">
            {% block content %}{% endblock %}
        </main>
        {% include "partials/_contact-modal.twig" %}
        {% include "partials/_scripts.twig" %}
    </body>
</html>
